@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #16ffbd;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 15vh;
}
.menu__burger img {
  overflow: hidden;
  height: 2.5vh;
  margin: 1rem;
}
.menu__qui {
  margin: 1rem;
}
.menu__list li {
  display: none;
  list-style: none;
  text-decoration: none;
}
.menu__list-logo {
  margin: 0 1rem;
  align-self: center;
  overflow: hidden;
  height: 7vh;
}

.media__main {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.media__main img {
  position: relative;
  width: 100%;
}
.media__main--lorem {
  color: #16ffbd;
  position: absolute;
  font-weight: bolder;
  margin-bottom: 1rem;
}

video {
  display: none;
}

.section__lorem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__lorem p {
  margin: 1rem;
  text-align: center;
}
.section__lorem .cross {
  overflow: hidden;
  height: 1vh;
}

.image__mustage {
  overflow: hidden;
  height: 5vh;
  width: 5vh;
  margin-top: 1.5rem;
}

.photos {
  display: flex;
  flex-direction: column;
}
.photos__p-underline {
  text-decoration: underline;
}
.photos__p-bolder {
  font-weight: 300;
  margin-bottom: 0.2rem;
  margin-top: 0.1rem;
  font-size: large;
  text-align: center;
  align-self: stretch;
  letter-spacing: 0.2rem;
}
.photos__pizza, .photos__shop, .photos__woman-glass {
  width: 100%;
  margin-top: 3rem;
}

footer {
  background-color: #080d14;
  color: #16ffbd;
  height: 120vh;
  margin-top: 3rem;
}
footer header {
  height: 17vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
footer header h2 {
  font-size: medium;
  font-weight: 300;
  letter-spacing: 0.4rem;
}
footer header h2 span {
  text-decoration: line-through;
  text-decoration-color: #fb8cab;
}
footer header .cross--blue {
  height: 1vh;
}
footer header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}
footer header nav ul a {
  text-decoration: none;
  color: white;
  letter-spacing: 0.4rem;
  font-size: large;
  font-weight: 300;
}
footer header nav ul a:hover {
  text-decoration: line-through;
  color: #fb8cab;
}
footer .info-footer {
  letter-spacing: 0.4rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 2rem;
}
footer .info-footer h3 {
  color: white;
  font-weight: 300;
}
footer .info-footer__social {
  display: flex;
  justify-content: space-around;
  width: 20vh;
  margin: 1rem 0;
  gap: 1.5rem;
}
footer .info-footer__social img {
  overflow: hidden;
  gap: 1rem;
  width: 20vh;
}

@media (min-width: 600px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .menu__burger {
    display: none;
  }
  .menu__qui {
    display: none;
  }
  .menu__list li {
    display: initial;
    margin: 0 1.5rem;
  }
  .menu__list li a {
    list-style: none;
    text-decoration: none;
    color: #080d14;
    letter-spacing: 0.2rem;
    font-size: small;
  }

  .media__main {
    display: none;
  }

  video {
    display: initial;
  }

  .photos {
    flex-direction: row;
    width: 100%;
  }
  .photos__pizza, .photos__shop, .photos__woman-glass {
    overflow: hidden;
    width: 100%;
    margin-top: 1.5rem;
  }

  footer {
    width: 100%;
    height: 60vh;
  }
  footer header {
    height: 6vh;
  }
  footer header nav ul {
    display: none;
  }
  footer .responsive__container {
    display: flex;
    width: 100%;
    text-align: left;
    line-height: 2.5rem;
    font-size: x-small;
  }
  footer .responsive__container div {
    width: 20vh;
  }
  footer .responsive__container h3,
footer .responsive__container p,
footer .responsive__container section {
    align-self: stretch;
    margin: 0;
    padding: 0;
  }
  footer .responsive__container .social-responsive {
    flex-grow: 1;
  }
  footer .responsive__container-1 p, footer .responsive__container-1 h3 {
    text-align: left;
    margin-left: 1.5rem;
  }
  footer .responsive__container-2 p, footer .responsive__container-2 h3 {
    text-align: right;
    margin-right: 1.5rem;
  }
  footer .responsive__container .info-footer__social {
    margin: 5rem 3rem 0 3rem;
  }
}
