@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #16ffbd;
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 15vh;

        img {
            overflow: hidden;
            height: 2.5vh;
            margin: 1rem;
        }
        .header-logo {
            margin: 0 1rem;
            align-self: center;
            img {
                overflow: hidden;
                height: 7vh;
            }
        }

        p {
            margin: 1rem;
        }
    }

    .media__main {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        img {
            position: relative;
            height: 30vh;
            width: 100%;
        }
        &--lorem {
            color: #16ffbd;
            position: absolute;
            font-weight: bolder;
            margin-bottom: 1rem;
        }
    }

    .section__lorem {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            margin: 1rem;
            text-align: center;
        }
        img {
            overflow: hidden;
            height: 1vh;
        }
    }

    .photos {
        display: flex;
        flex-direction: column;
        align-items: center;
        .image__mustage {
            overflow: hidden;
            height: 5vh;
            width: 5vh;
            margin-top: 1.5rem;
        }
        &__p-underline {
            text-decoration: underline;
        }

        &__p-bolder {
            font-weight: 300;
            margin-bottom: 3rem;
            margin-top: 0.1rem;
            font-size: large;
            text-align: center;
            align-self: stretch;
            letter-spacing: 0.2rem;
        }

        &__pizza,
        &__shop,
        &__woman-glass {
            width: 100%;
        }
    }
}
