@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #16ffbd;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15vh;

    &__burger {
        img {
            overflow: hidden;
            height: 2.5vh;
            margin: 1rem;
        }
    }

    &__qui {
        margin: 1rem;
    }

    &__list li {
        display: none;
        list-style: none;
        text-decoration: none;
    }
    &__list-logo {
        margin: 0 1rem;
        align-self: center;
        overflow: hidden;
        height: 7vh;
    }
}

.media__main {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 30vh;
    background-color: #16ffbd;

    img {
        position: relative;
        width: 100%;
        height: 100%;
        clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
    }
    &--lorem {
        color: #16ffbd;
        position: absolute;
        font-weight: bolder;
        margin-bottom: 3rem;
        transform: rotate(-9deg);
    }
}
video {
    display: none;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
}

.section__lorem {
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0.4rem;
    background-color: #16ffbd;
    p {
        margin: 1rem;
        text-align: center;
    }
    .cross {
        overflow: hidden;
        height: 1vh;
    }
}
.image__mustage {
    overflow: hidden;
    height: 5vh;
    width: 5vh;
    margin-top: 1.5rem;
}

.photos {
    display: flex;
    flex-direction: column;

    &__p-underline {
        color: #080d14;
    }

    &__p-bolder {
        font-weight: 300;
        margin-bottom: 0.2rem;
        margin-top: 0.1rem;
        font-size: large;
        text-align: center;
        align-self: stretch;
        letter-spacing: 0.2rem;
    }

    &__curvature p {
        transform: rotate(-10deg);
    }

    &--check {
        display: none;
    }
}
.photos__pizza,
.photos__shop,
.photos__woman-glass {
    width: 100%;
    margin-top: 3rem;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
}

footer {
    background-color: #080d14;
    color: #16ffbd;
    height: 220vh;
    margin-top: 3rem;
    clip-path: polygon(0 6%, 100% 0%, 100% 100%, 0% 100%);

    header {
        height: 23vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 8rem;
        margin-bottom: 3rem;

        h2 {
            font-size: medium;
            font-weight: 300;
            letter-spacing: 0.4rem;
            span {
                text-decoration: line-through;
                text-decoration-color: #fb8cab;
            }
        }

        .cross--blue {
            height: 1vh;
        }

        nav {
            ul {
                list-style: none;
                padding: 0;
                display: flex;
                flex-direction: column;
                text-align: center;
                a {
                    text-decoration: none;
                    color: white;
                    letter-spacing: 0.4rem;
                    font-size: large;
                    font-weight: 300;
                }

                a:hover {
                    text-decoration: line-through;
                    color: #fb8cab;
                }
            }
        }
    }

    .info-footer {
        letter-spacing: 0.4rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: 0 2rem;
        h3 {
            color: white;
            font-weight: 300;
        }

        &__social {
            display: flex;
            justify-content: space-around;
            width: 20vh;
            margin: 1rem 0;
            gap: 1.5rem;
            img {
                overflow: hidden;
                gap: 1rem;
                width: 20vh;
            }
        }
    }
}

@media (min-width: 600px) {
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;

        &__burger {
            display: none;
        }

        &__qui {
            display: none;
        }

        &__list li {
            display: initial;
            margin: 0 1.5rem;
            a {
                list-style: none;
                text-decoration: none;
                color: #080d14;
                letter-spacing: 0.2rem;
                font-size: small;
            }

            a:hover {
                color: #b9afb1;
            }
        }
    }
    .media__main {
        display: none;
    }

    video {
        display: initial;
    }

    .photos {
        flex-direction: row;
        width: 100%;
        shape-outside: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
        &__pizza,
        &__shop,
        &__woman-glass {
            overflow: hidden;
            width: 100%;
            margin-top: 1.5rem;
            position: relative;
            z-index: 2;
        }

        &__pizza:hover,
        &__shop:hover,
        &__woman-glass:hover {
            filter: brightness(50%);
            z-index: 1;
        }
        &__curvature:hover {
            color: #b9afb1;
        }
        &--check {
            display: initial;
            position: absolute;
            z-index: 1;
            left: 40%;
            bottom: 50%;
        }

        .align-glass {
            transform: translateY(2.9rem);
        }
        .align-pizza {
            transform: translateY(0.1rem);
        }

        .align-shop {
            transform: translateY(-2.9rem);
        }

        &__p-underline:hover {
            color: #b9afb1;
        }
    }

    footer {
        width: 100%;
        height: 140vh;
        clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
        header {
            height: 6vh;
            nav {
                ul {
                    display: none;
                }
            }
        }

        .responsive__container {
            display: flex;
            width: 100%;
            text-align: left;
            line-height: 2.5rem;
            font-size: x-small;
            .info-footer {
                margin-top: 3rem;
            }
            div {
                width: 20vh;
            }
            h3,
            p,
            section {
                align-self: stretch;
                margin: 0;
                padding: 0;
            }
            .social-responsive {
                flex-grow: 1;
            }

            &-1 p,
            &-1 h3 {
                text-align: left;
                margin-left: 1.5rem;
            }

            &-2 p,
            &-2 h3 {
                text-align: right;
                margin-right: 1.5rem;
            }

            .info-footer__social {
                margin: 5rem 3rem 0 3rem;
            }

            .info-footer__social img:hover {
                filter: grayscale(100%);
            }
        }
    }
}
